.grupo-formulario input[type="text"], .grupo-formulario input[type="email"]  {
    width: 100%;
}

label{
    margin-bottom: 15px;
}

.grupo-formulario{
    display: inline-block;
    width: 30%;
    padding: 1%;
}

.enviar-container{
    margin-top: 15px;
}

#fv_insertar{
    margin-left: 1%;
}

#fv_resultados{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 1%;
}

.config-section{
    width: 45%;
    padding: 1%;
    display: inline-block;
    clear: both;
}